<html>
	<head>
		<title>John's unglaublich tolle Website</title>
		<h1>John's Blog: Jog</h1>
		<h2>Unglaublich tolle und spannende Geschichten!</h2>
		<h2>Nie gehörte Stories bei denen euch der Atem weg bleibt!!</h2>
		<h2>Lasst ein Abo da!!!</h2>
		<h3>…ach, mist das ist noch nicht eingerichtet</h3>
	</head>
	<body>
		<em>Erster Blog</em>
		<p>Wir schreiben das Jahr 2018.
			Der John chillt mit nen paar coolen Guys, die alle verzweilfelt versuchen eine Website zu programmieren, aber iwie klappt dat net so richtg, weil everywhere immer ERROR, ERROR, ERROR steht. Is echt zum Mäuse melken. Grad noch kurz html gelernt um euch das hier zu schreiben, nh. Jetzt is auch noch meine Musik ausgegangen!!! Was soll ich dazu sagen. Kann nicht mal ein traurigen Emoji machen, weil dann iwelche Befehle ausgeführt werden.
			Wartet, ich kann das… :C Is zwar nicht das selbe, aber besser als nichts!
			So mach jetzt noch ein bisschen die Seite schöne, nh.
			<br />
			Bye, bye my friends, call me!
		John</p>
		<br />
		<p>PS: Apo, ach mal die Dungeongruppe!!!</p>
		<p>Hier 2 Hilfen:</p>
		<a href="https://www.thedungeons.com/hamburg/de/">Hier klicken</a>
		<br />
		<a href="http://www.memegen.com/meme/r150k5">Hier klicken</a>
    </body>
</html>